/* 文本内容 */
body{
    background-color: #ffbea0;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: right;
}
#t1{
    font-size: 100px;
    position: inherit;
    color: white;

}
#t2{
    font-size: 100px;
    position: inherit;
    transform: translateY(-50px);
    color: white;
}
#t3{
    font-size: 210px;
    position: inherit;
    transform: translateY(90px);
    color: white;
}
#t4{
    font-size: 210px;
    position: inherit;
    transform: translateY(0px);
    color: white;
}
#p1{
    position: absolute;
    transform: translate(90px,-780px) ;
    color: white;
    z-index: 4;
}
#p2{
    position: absolute;
    transform: translate(90px,-500px) ;
    color: white;
    z-index: 4;
}
#p3{
    position: absolute;
    transform: translate(90px,-200px) ;
    color: white;
    z-index: 4;
}
span{
    font-size: 40px;
    position: absolute;
    left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
a:link{ text-decoration-line: none; color: white;}
a:active{ text-decoration-line: none; color: #253900;}
a:hover{ text-decoration-line: none;color: rgb(16, 139, 104);}
a:visited{text-decoration-line: none;color: rgb(133, 149, 136);}

/* 图片内容 */

.pic2{
    width: 200px;
}
#gif{
    width: 400px;
    position: fixed;
    text-align: center;
    top: 130px;
    left: 530px;
}
#b1{
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
    
}
#b2{
    position: absolute;
    left: 10px;
    top: 270px;
    z-index: 1;
}
#b3{
    position: absolute;
    left: 10px;
    top: 550px;
    z-index: 1;
}

/* 脸部动画 */
@keyframes none1{
    form{
        z-index: 0;
    }
    to{
        z-index: 8;
    }
}
@keyframes none2{
    form{
        z-index: 1;
    }
    to{
        z-index: 8;
    }
}
@keyframes none3{
    form{
        z-index: 2;
    }
    to{
        z-index: 8;
    }
}
@keyframes none4{
    form{
        z-index: 3;
    }
    to{
        z-index: 8;
    }
}
@keyframes none5{
    form{
        z-index: 4;
    }
    to{
        z-index: 8;
    }
}
/* hover动画 */
#b1:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 0.8s;
    transition-property: all;
    transform: rotate(-90deg);
    transition-delay: 0s;
}
#b1{
    transition: all 0.4s ease 0s;
}
#b2:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 0.8s;
    transition-property: all;
    transform: rotate(-90deg);
    transition-delay: 0s;
}
#b2{
    transition: all 0.4s ease 0s;
}
#b3:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 0.8s;
    transition-property: all;
    transform: rotate(-90deg);
    transition-delay: 0s;
}
#b3{
    transition: all 0.4s ease 0s;
}
